@use "../abstracts/" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: rem(32);
  --zindex: 30;

  @include breakpoint(md) {
    padding-block: rem(48);
  }

  &.open {
    .navbar__menu {
      display: block;
      animation: fade-in 300ms forwards;

      @include breakpoint(md) {
        display: flex;
      }
    }
  }

  &__brand {
    z-index: var(--zindex);
  }

  &__toggler {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: var(--zindex);

    @include breakpoint(md) {
      display: none;
    }
  }

  &__menu {
    display: none;
    list-style: none;
    position: absolute;
    top: rem(88);
    right: rem(24);
    left: rem(24);
    background-color: var(--clr-neutral-1);
    border-radius: rem(8);
    overflow: hidden;
    z-index: var(--zindex);

    @include breakpoint(md) {
      position: static;
      background-color: inherit;
      border-radius: none;
      display: flex;
      gap: rem(32);
    }
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid var(--clr-border);

      @include breakpoint(md) {
        border: none;
      }
    }
  }

  &__link {
    color: var(--clr-txt-1);
    font-size: rem(18);
    font-weight: 500;
    display: block;
    padding: rem(24);
    position: relative;

    &:hover {
      background: var(--clr-accent);
      color: var(--clr-neutral-1);
    }

    @include breakpoint(md) {
      color: var(--clr-neutral-1);
      font-size: rem(13);
      padding: 0;
      display: inline-block;

      &:hover {
        background-color: inherit;
      }

      &:hover::after {
        width: 100%;
      }

      &::after {
        @include breakpoint(md) {
          content: "";
          position: absolute;
          bottom: 3px;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          width: 0;
          background-color: var(--clr-neutral-1);
          transition: all 200ms linear;
        }
      }
    }
  }
}
