@use '../abstracts/' as *;

.about {
  background-color: var(--clr-neutral-1);
  padding: rem(40) rem(24);
  border-radius: rem(8);
  border: 1px solid var(--clr-neutral-6);

  @include breakpoint(md) {
    padding: rem(48);
  }


  &__title {
    margin-bottom: rem(24);

    @include breakpoint(md) {
      margin-bottom: rem(35);
    }
  }

  &__description {
    &:first-of-type {
      margin-bottom: rem(24);

      @include breakpoint(md) {
        margin-bottom: rem(30);
      }
    }
  }
}